header

{
    color: white;
}

#header_container

{
    background: #577781;
    display:flex;
    justify-content:space-around;
}

#bandeau
{
    display:flex;
    justify-content:space-around;
}

#logo

{
    position: absolute;
    top: 7px;
    left: 13px;
}