header

{
    color: white;
    background: #577781;
    display:flex;
    justify-content:center;
    height: 100px;
    margin: 25px;
    align-items: center;
    font-size: xx-large;
    font-family: Arial;

}

#logo

{
    position: absolute;
    left: 50px;
}

.bandeau
{
    display:flex;
    justify-content:center;
}
