header

{
    color: white;
    background: #577781;
    display:flex;
    justify-content:center;
    height: 25%;
    margin: 2%;
    align-items: center;
    font-size: xx-large;
    font-family: Arial;

}

p
{
     position: absolute;
    left: 8%;
    bottom: 40%;
    font-size: 250%;
    background-color: white;

}

#logo

{
    position: absolute;
    left: 3.5%;
}

.menu

{
    padding: 1%;
}

ul

{
  list-style-type: none;
  margin: 0;
  padding: 0;
    text-align: center;
}


#bandeau

{
     width: 95%;
     border: 7px solid black;
      display:flex;
    justify-content:center;
     align-items: center;
    position: relative;
    margin: auto;
}

#img_bandeau

{
    height: 5%;
    margin: 0;
    border: none;
    display:flex;
    justify-content:center;
     align-items: center;
}

#play_button

{
    width: 15%;
    border: none;
    position: absolute;
    left: 7%;
    bottom: 25%;
}

.previous
{
    width: 3%;
}

.next
{
    width: 3%;
}

.img_movie
{
    border: 7px solid black;
    margin: 4px;
    width: 20%;
	height: 200px;
}

#a5, #a6, #a7
{
    border: 7px solid black;
    margin: 4px;
    width: 20%;
	height: 200px;
    display: none;
}